<html>
    <head>
        <title><%= title %></title>
        <!-- Enable Responsive Scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0"/>
        <% include head-scripts %>
        <% include stylesheets %>
    </head>
    <body>
    
    