<!-- Main Nav Menu -->
<a class="nav-toggle" id="main">
    <div>
        <span id="line-1"></span>
        <span id="line-2"></span>
        <span id="line-3"></span>
    </div>
</a>
<div class="nav container-fluid" id="main">
    <nav class="v-align-center h-align-center container">
        <ul class="v-align-center h-align-center">
            <li><a class="btn btn-pr" href="/">Home</a></li>
            <li><a class="btn btn-sc" href="/about">About</a></li>
            <li><a class="btn btn-sc" href="/portfolio">Portfolio</a></li>
            <li><a class="btn btn-sc" href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>